<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- ========== Page Title ========== -->
    <title>Ekutivala - Projeto Multilingual Universitário</title>
    <!-- ========== Meta Tags ========== -->
    <meta name="robots" content="index, follow">  
    <meta name="description" content="Ekutivala é um projeto académico-social que promove o multilinguismo entre estudantes universitários, com foco no inglês, facilitando o acesso ao emprego e preparando para o mercado de trabalho global.">
    <meta name="keywords" content="multilinguismo, idiomas, inglês, estudantes universitários, emprego, mercado de trabalho, educação, Angola, Universidade Católica de Angola, Ucaniana, internacionalização, intercâmbio cultural">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Ekutivala - Projeto Multilingual Universitário">
    <meta property="og:description" content="Ekutivala é um projeto académico-social que promove o multilinguismo entre estudantes universitários, com foco no inglês, facilitando o acesso ao emprego e preparando para o mercado de trabalho global.">
    <meta property="og:url" content="https://ekutivala.com/"> 
    <meta property="og:image" content="https://ekutivala.com/assets/img/ekutivala-logo.jpg"> <meta property="og:type" content="website">

    <!-- ========== Favicon ========== -->
    <link rel="icon" type="image/png" href="~/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="~/assets/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="~/assets/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="~/assets/img/favicon/site.webmanifest" />

    <!-- ========== Start Stylesheet ========== -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="~/assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <link href="~/assets/css/chat.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->
    <style type="text/css">
        .entrar-btn {
            border: 1px solid #0049fd;
            padding: 10px !important;
            position: relative !important;
            top: 15px;
        }
    </style>

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->


</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    @RenderBody()


    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark default-padding-top text-light">
        <div class="container">
            <div class="f-items">
                <div class="row">
                    <!-- Coluna 1: Logo -->
                    <div class="col-lg-4 item">
                        <div class="f-item">
                            <img src="~/assets/img/favicon/apple-touch-icon.png" alt="Ekutivala Logo">
                        </div>
                    </div>

                    <!-- Coluna 2: Descrição da Ekutivala -->
                    <div class="col-lg-4 item">
                        <div class="f-item">
                            <h4>Sobre a Ekutivala</h4>
                            <p>
                                A Ekutivala conecta instituições, professores e estudantes, facilitando o acesso a cursos de qualidade. Nossa missão é transformar a educação por meio da tecnologia e inovação.
                            </p>
                        </div>
                    </div>

                    <!-- Coluna 3: Redes Sociais -->
                    <div class="col-lg-4 item">
                        <div class="f-item">
                            <h4>Nos siga</h4>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/ekutivala/" target="_blank">
                                        <i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Copyright 2025. All Rights Reserved by <a href="#">Ekutivala</a></p>
                    </div>
                    <div class="col-lg-6 text-end link">
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Politicas">Politicas</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Termo">Termos de Uso</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.appear.js"></script>
    <script src="~/assets/js/jquery.easing.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/count-to.js"></script>
    <script src="~/assets/js/loopcounter.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/bootsnav.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/chat-static.js"></script>
    <!-- Script JavaScript -->
    <script>
        function redirecionarCurso() {
            var idioma = document.getElementById("idioma-select").value;
            if (idioma) {
                // Redireciona para a action "Cursos" no controller "Home"
                window.location.href = "/Home/Cursos";
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
