@{
    ViewData["Title"] = "";
    Layout = "_LayoutEstudante";
}
 <!-- Courses Enroll Start -->
        <div class="section section-padding mt-n10">

            <!-- Courses Enroll Wrapper Start -->
            <div class="courses-enroll-wrapper">

                <!-- Courses Video Player Start -->
                <div class="courses-video-player">

                    <!-- Courses Video Container Start -->
                    <div class="vidcontainer-base">
                        <iframe 
                            src="https://www.youtube.com/embed/nlwvT88kTiM" 
                            title="Como se apresentar em Inglês? - CursoemVideo de Inglês: Módulo 1" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" 
                            allowfullscreen>
                        </iframe>
                    </div>


                    <!-- Courses Video Container End -->

                    <!-- Courses Enroll Content Start -->
                    <div class="courses-enroll-content">

                        <!-- Courses Enroll Tab Start -->
                        <div class="courses-enroll-tab">
                            <div class="enroll-tab-menu">
                                <ul class="nav">
                                    <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab1">Overview</button></li>
                                    <li><button data-bs-toggle="tab" data-bs-target="#tab2">Description</button></li>
                                    <li><button data-bs-toggle="tab" data-bs-target="#tab4">Instructor</button></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Courses Enroll Tab End -->

                        <!-- Courses Enroll Tab Content Start -->
                        <div class="courses-enroll-tab-content">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab1">

                                    <!-- Overview Start -->
                                    <div class="overview">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="enroll-tab-title">
                                                    <h3 class="title">Course Details</h3>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="enroll-tab-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when andom unknown printer took a galley of type scrambled it to make a type specimen book. It has survived not’s only and five centuries, but also the lea into electronic typesetting, remaining priting essentially unchanged. It was popularsed in the 1960 with containing Lorem Ipsum passages desktop publishing software.</p>

                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th>Instructor <span>:</span></th>
                                                                <td>Pamela Foster</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Duration <span>:</span></th>
                                                                <td>08 hr 15 mins</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Lectures <span>:</span></th>
                                                                <td>2,16</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Level <span>:</span></th>
                                                                <td>Secondary</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Language <span>:</span></th>
                                                                <td>English</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Caption’s <span>:</span></th>
                                                                <td>Yes</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when andom unknown printer took a galley of type scrambled it to make a type specimen book.</p>

                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when andom unknown printer took a galley of type scrambled it to make a type specimen book.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Overview End -->

                                </div>
                                <div class="tab-pane fade" id="tab2">

                                    <!-- Description Start -->
                                    <div class="description">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="enroll-tab-title">
                                                    <h3 class="title">Description</h3>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="enroll-tab-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when andom unknown printer took a galley of type scrambled it to make a type specimen book. It has survived not’s only and five centuries, but also the lea into electronic typesetting, remaining priting essentially unchanged. It was popularsed in the 1960 with containing Lorem Ipsum passages desktop publishing software.</p>

                                                    <p class="text">“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has industry's standard dummy text ever since the 1500s when andom unknown printer took a galley scrambled it to make a type specimen book.”</p>

                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when andom unknown printer took a galley of type scrambled it to make a type specimen book. It has survived not’s only and five centuries, but also the lea into electronic typesetting, remaining priting essentially unchanged. It was popularsed in the 1960 with containing Lorem Ipsum passages desktop publishing software.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Description End -->

                                </div>
                                <div class="tab-pane fade" id="tab4">

                                    <!-- Instructor Start -->
                                    <div class="instructor">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="enroll-tab-title">
                                                    <h3 class="title">Instructor</h3>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="enroll-tab-content">

                                                    <!-- Single Instructor Start -->
                                                    <div class="single-instructor">
                                                        <div class="review-author">
                                                            <div class="author-thumb">
                                                                <img src="~/assets_dash/images/author/author-06.jpg" alt="Author">
                                                            </div>
                                                            <div class="author-content">
                                                                <h4 class="name">Sara Alexander</h4>
                                                                <span class="designation">Product Designer, USA</span>
                                                                <span class="rating-star">
																		<span class="rating-bar" style="width: 80%;"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when andom unknown printer took a galley of type scrambled it to make a type specimen book.</p>
                                                    </div>
                                                    <!-- Single Instructor End -->

                                                    <!-- Single Instructor Start -->
                                                    <div class="single-instructor">
                                                        <div class="review-author">
                                                            <div class="author-thumb">
                                                                <img src="~/assets_dash/images/author/author-07.jpg" alt="Author">
                                                            </div>
                                                            <div class="author-content">
                                                                <h4 class="name">Karol Bachman</h4>
                                                                <span class="designation">Product Designer, USA</span>
                                                                <span class="rating-star">
																		<span class="rating-bar" style="width: 80%;"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when andom unknown printer took a galley of type scrambled it to make a type specimen book.</p>
                                                    </div>
                                                    <!-- Single Instructor End -->

                                                    <!-- Single Instructor Start -->
                                                    <div class="single-instructor">
                                                        <div class="review-author">
                                                            <div class="author-thumb">
                                                                <img src="~/assets_dash/images/author/author-03.jpg" alt="Author">
                                                            </div>
                                                            <div class="author-content">
                                                                <h4 class="name">Gertude Culbertson</h4>
                                                                <span class="designation">Product Designer, USA</span>
                                                                <span class="rating-star">
																		<span class="rating-bar" style="width: 80%;"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when andom unknown printer took a galley of type scrambled it to make a type specimen book.</p>
                                                    </div>
                                                    <!-- Single Instructor End -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Instructor End -->

                                </div>
                            </div>
                        </div>
                        <!-- Courses Enroll Tab Content End -->

                    </div>
                    <!-- Courses Enroll Content End -->
                </div>
                <!-- Courses Video Player End -->

                <!-- Início da Playlist de Vídeos do Curso -->
                <div class="courses-video-playlist">
                    <div class="playlist-title">
                        <h3 class="title">Conteúdo do Curso</h3>
                        <span>80 Aulas (8h 15m)</span>
                    </div>

                    <!-- Início da Playlist de Vídeos -->
                    <div class="video-playlist">
                        <div class="accordion" id="videoPlaylist">

                            <!-- Início do Item Accordion -->
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                    <p>Aula 01: Desenvolvimento da Fluência e Habilidades Criativas</p>
                                    <span class="total-duration">01 hora 48 minutos</span>
                                </button>

                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#videoPlaylist">
                                    <nav class="vids">
                                        <a class="link active" href="https://player.vimeo.com/external/215175080.hd.mp4">
                                            <p>01. Introdução ao Inglês Intermediário</p>
                                            <span class="total-duration">08 minutos</span>
                                        </a>

                                        <a class="link" href="https://player.vimeo.com/external/207590826.hd.mp4">
                                            <p>02. Melhoria da Pronúncia e Intonação</p>
                                            <span class="total-duration">08 minutos</span>
                                        </a>

                                        <a class="link" href="https://player.vimeo.com/external/207590786.hd.mp4">
                                            <p>03. Construindo Frases Mais Complexas</p>
                                            <span class="total-duration">08 minutos</span>
                                        </a>

                                        <a class="link" href="https://player.vimeo.com/external/207590615.hd.mp4">
                                            <p>04. Expressões Comuns e Como Usá-las</p>
                                            <span class="total-duration">08 minutos</span>
                                        </a>

                                        <a class="link" href="http://download.wavetlan.com/SVV/Media/HTTP/H264/Other_Media/H264_test5_voice_mp4_480x360.mp4">
                                            <p>05. Como Melhorar a Compreensão Auditiva</p>
                                            <span class="total-duration">08 minutos</span>
                                        </a>

                                        <a class="link" href="http://download.wavetlan.com/SVV/Media/HTTP/H264/Other_Media/H264_test7_voiceclip_mp4_480x360.mp4">
                                            <p>06. Vocabulário para Situações Cotidianas</p>
                                            <span class="total-duration">08 minutos</span>
                                        </a>

                                        <a class="link" href="http://download.wavetlan.com/SVV/Media/HTTP/H264/Other_Media/H264_test8_voiceclip_mp4_480x320.mp4">
                                            <p>07. Estruturas Gramaticais Importantes</p>
                                            <span class="total-duration">08 minutos</span>
                                        </a>

                                        <a class="link" href="http://download.wavetlan.com/SVV/Media/HTTP/MP4/ConvertedFiles/Media-Convert/Unsupported/dw11222.mp4">
                                            <p>08. Dicas para Aperfeiçoar sua Escrita</p>
                                            <span class="total-duration">08 minutos</span>
                                        </a>
                                    </nav>
                                </div>

                                <!-- Início do Item Accordion -->
                                <div class="accordion-item">
                                    <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                        <p>Aula 02: Construção de Frases e Estruturas Gramaticais</p>
                                        <span class="total-duration">01 hora 48 minutos</span>
                                    </button>

                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#videoPlaylist">
                                        <nav class="vids">
                                            <a class="link" href="https://player.vimeo.com/external/215175080.hd.mp4">
                                                <p>09. Uso Correto dos Tempos Verbais</p>
                                                <span class="total-duration">08 minutos</span>
                                            </a>

                                            <a class="link" href="https://player.vimeo.com/external/207590826.hd.mp4">
                                                <p>10. Conectores e Transições na Conversação</p>
                                                <span class="total-duration">08 minutos</span>
                                            </a>

                                            <a class="link" href="http://download.wavetlan.com/SVV/Media/HTTP/MP4/ConvertedFiles/Media-Convert/Unsupported/dw11222.mp4">
                                                <p>16. Aplicação da Gramática no Dia a Dia</p>
                                                <span class="total-duration">08 minutos</span>
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <!-- Fim do Item Accordion -->

                                <!-- Início do Item Accordion -->
                                <div class="accordion-item">
                                    <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                        <p>Aula 03: Escrita e Compreensão de Textos em Inglês</p>
                                        <span class="total-duration">01 hora 48 minutos</span>
                                    </button>

                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#videoPlaylist">
                                        <nav class="vids">
                                            <a class="link" href="https://player.vimeo.com/external/215175080.hd.mp4">
                                                <p>17. Técnicas de Leitura e Interpretação</p>
                                                <span class="total-duration">08 minutos</span>
                                            </a>

                                            <a class="link" href="http://download.wavetlan.com/SVV/Media/HTTP/MP4/ConvertedFiles/Media-Convert/Unsupported/dw11222.mp4">
                                                <p>24. Redação de Textos e Expressão Escrita</p>
                                                <span class="total-duration">08 minutos</span>
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <!-- Fim do Item Accordion -->
                            </div>
                            <!-- Fim do Item Accordion -->
                        </div>
                    </div>
                    <!-- Fim da Playlist de Vídeos -->
                </div>
                <!-- Fim da Playlist de Vídeos do Curso -->


            </div>
            <!-- Courses Enroll Wrapper End -->

        </div>
        <!-- Courses Enroll End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->
